:root{
    --size:675;
    --unit:calc(1vmin * (var(--size)/500))
    /* --col-crimson:rgba(220) */
}

body{
  
}
.box{
    margin:50px auto;
    /* position: relative; */
    display: grid;
    /* grid-template-columns: ; */
    /* grid-template-columns: repeat(3,minmax(200px ,1fr)); */
    justify-items: center;
    /* grid-auto-flow: row; */
    grid-gap:4%; 
    grid-auto-rows: calc(250 *--var(unit));
    /* align-items: flex-end; */
}
.container{
    /* margin:10px; */
}
/* ********* */
/* geometric */
/* ********* */
.geometric{

    width:calc(25 * var(--unit));
    height:calc(25 * var(--unit));
    background:
    radial-gradient( 80% 150% at 50% 0% , transparent 50% , white 50%) 0 100%/ 100% 50% no-repeat,
    radial-gradient( 80% 150% at 50% 100% , white 50% , transparent 50%) 0 0/ 100% 50% no-repeat,

    repeating-linear-gradient(90deg, orange 1%,transparent 2%, transparent 3%,orange 4%)    
    ;
    box-shadow: 0 0 0 1px black,
    1px 1px 1px 1px silver;

}
/* ********* */
/* peachy */
/* ********* */
.peachy{
    /* position:absolute; */
    font-size:10px;
    width:calc(25 * var(--unit));
    height:calc(35 * var(--unit));
    /* background-color: yellow; */
    /* outline: 1px solid purple; */
    background: 
        linear-gradient(90deg,white 8%,transparent 8%, transparent 93% , white 93%),
        linear-gradient(transparent 95%,white 95%),
        linear-gradient( transparent 40%,rgba(220,20,60,0.5) 40%),
        radial-gradient( circle at 50% 70%, rgba(0,0,0,0.5) 30%,transparent 30%),
        radial-gradient( circle at 50% 35%, green 30%,transparent 30%)
        /* tan */
    ;
    box-shadow: inset 0 0 1px 1px peru,
    inset 0 0 0 2px burlywood,
    inset 0 0 0px 2px peru,
    inset 1px 1px 1px 2px rgb(139,69,19,0.5);
}
/* ********* */
/* circle1 */
/* ********* */
.circle1{
    font-size:10px;
    width:calc(25 * var(--unit));
    height:calc(35 * var(--unit));
    background-color: blanchedalmond;   

    background: 
    radial-gradient(200% 150% at 0 100%, transparent 15%,wheat 15%,wheat 20%,yellow 20%, yellow 25%,sandybrown 25%, sandybrown 30%,tomato 30%,tomato 35%,indianred 35%,indianred 40%,maroon 40%, maroon 45%,transparent 45%) 0 0/100% 100%,
    blanchedalmond
    
    ;
    box-shadow: 
    inset 0 0 0px 0.3px lightsteelblue,
     inset 0 0 0px 1px gainsboro,
     inset 1px 0px 1px 1px rgba(105,105,105,0.4),
     1px 1px 2px 0.5px rgb(119,136,153,0.5)
    ;
}
/* ********* */
/* circle 2 */
/* ********* */
.circle2{
    font-size:10px;
    width:calc(25 * var(--unit));
    height:calc(35 * var(--unit));
    background-color: blanchedalmond;   

    background: 
    radial-gradient(circle at 70% 20%, orange 15%,transparent 15%) ,
    radial-gradient(180% 150% at 110% 120%, transparent 15%,wheat 15%,wheat 20%,yellow 20%, yellow 25%,sandybrown 25%, sandybrown 30%,tomato 30%,tomato 35%,indianred 35%,indianred 40%,maroon 40%, maroon 45%,transparent 45%) 0 0/100% 100%,
    radial-gradient(200% 150% at 0 100%, transparent 15%,wheat 15%,wheat 20%,yellow 20%, yellow 25%,sandybrown 25%, sandybrown 30%,tomato 30%,tomato 35%,indianred 35%,indianred 40%,maroon 40%, maroon 45%,transparent 45%) 0 0/100% 100%,
    blanchedalmond
    ;
    position: relative;
}
.circle2:after{
   content:'';
   position: absolute;
   left:0;
   bottom:-5%;
   width:100%;
   height:4%;
   background:
    linear-gradient(  rgba(255,255,255,1) 1%, rgba(235,158,98,1) 10.6%, rgba(177,10,10,1) 63.7%, rgba(0,0,0,1) 102% )
   ;
}
.circle2:before{
    content:'';
    position: absolute;
    left:0;
    top:-5%;
    width:100%;
    height:4%;
    background:
     linear-gradient( to top, rgba(255,255,255,1) 1%, rgba(235,158,98,1) 10.6%, rgba(177,10,10,1) 63.7%, rgba(0,0,0,1) 102% )
    ;
 }
/* ********* */
/* tile */
/* ********* */
.tile{
    width:calc(30 * var(--unit));
    height:calc(30 * var(--unit));
    background:
  
        repeating-linear-gradient(white 0,white 1% , transparent 3%,transparent 10%,white 11%),
        repeating-linear-gradient(90deg,transparent 0,transparent 1% , thistle 3%,thistle 10%,transparent 11%)
    ;
    box-shadow: 
    inset 0 0 0 0.3px slategray,
    inset 0 0 0 2px silver,
    inset 2px 2px 1px 1px whitesmoke,
    1px 2px 2px 0px silver
    ;
    position: relative;
}

.tile:before{
    content:'sweet';
    color:whitesmoke;
    position: absolute;
    font-size:calc(8 * var(--unit));
    font-family: 'Pacifico', cursive;;
    width:100%;
    height:100%;
    display: grid;
    place-items: center;    
    text-shadow: 0px 1px rgb(62, 250, 244);
}

/* ********* */
/* rainbow */
/* ********* */
.rainbow{
    position: relative;
    width:calc(25 * var(--unit));
    height:calc(40 * var(--unit));
    background-color: blanchedalmond;
       
    background: 
    
    /* full circle */
    radial-gradient(circle at 50% 50%, orange 10%,transparent 10%),
    /* half dome */
    radial-gradient( 
    150% 200% at 50% 100% ,
    transparent 0 ,transparent 10%, black 10%, black 12%,
    transparent 12%,transparent 17%,black 17%,black 19%,
    transparent 19% ,transparent 24%, black 24%,black 26%,
    transparent 26%,transparent 31%,black 31%,black 33%,transparent 33%
    ) 0 0 /100% 50% no-repeat  ,
    /*  */
    linear-gradient(blanchedalmond 49.5%, transparent 49.5%),
    /*  */
    linear-gradient( 90deg,
        black 1% ,black 3.5%,
        transparent 3.5%,transparent 11%,black 11%,black 14%,
        transparent 14%,transparent 21.5%,black 21.5%,black 24.5%,transparent 24.5%,transparent 32%,black 32%,black 35%,
        transparent 35%,transparent 65%,black 65%,black 68%,
        transparent 68%,transparent 75.5%,black 75.5%,black 78.5%,
        transparent 78.5%,transparent 86%,black 86%,black 89%,
        transparent 89%,transparent 96.5%, black 96.5%,black 99.5%,
        transparent 99.5%
   
    )
    blanchedalmond 
    ;
}
.rainbow:after{
    content:'';
    position: absolute;
    left:0;
    bottom:-5%;
    width:100%;
    height:4%;
    background:
     linear-gradient( to top,  rgba(0,0,0,1) 1.8%, rgba(178,14,14,1) 112.6% )
    ;
  
 }
 .rainbow:before{
     content:'';
     position: absolute;
     left:0;
     top:-5%;
     width:100%;
     height:4%;
     background:
     linear-gradient( to bottom,  rgba(0,0,0,1) 1.8%, rgba(178,14,14,1) 112.6% )
     ;

}
/* ********* */
/* flower */
/* ********* */
.flower{
    width:calc(40 * var(--unit));
    height:calc(40 * var(--unit));
    background-color: cornsilk;
    background: 
    
    /* flower */
    radial-gradient(100% 100% at 50% 50%,darkred 10%,
    red 10%,red 15%,
    firebrick 15%,
    orange 20%, orange 25%,
    orangered 30% , orangered 35%,
    transparent 35% )
  50% 20%/ 50% 50% no-repeat,

    
    
    /* overlap */
    radial-gradient(100% 100% at 50% 65% ,transparent 30%,papayawhip 30%) 100% 100%/100% 100% no-repeat,
  /* two circle- for leaves -bottom */
  radial-gradient( circle , limegreen 50%,seagreen 70%,transparent 50%) 0 150%/ 50% 50% no-repeat,
  radial-gradient( circle , limegreen 50%,seagreen 70%,transparent 50%) 100% 150%/ 50% 50% no-repeat,

    /* stem */
  linear-gradient(90deg, transparent 49%, green 49%,green 50%,transparent 50% ) 0 100%/ 100% 50% no-repeat,

  /* overlap */
    radial-gradient(circle ,transparent 30%,papayawhip 30%) 50% 50%/100% 100% no-repeat,
    /* two circle- for leaves -top */
    radial-gradient( circle , limegreen 50%,seagreen 70%,transparent 50%) 0 100%/ 50% 50% no-repeat,
    radial-gradient( circle , limegreen 50%,seagreen 70%,transparent 50%) 100% 100%/ 50% 50% no-repeat,

    papayawhip
    ;
    
    box-shadow: 
    /* inset 0 0 1px 1px sienna, */
    inset 0px 0px 0px 0.4px peru,
    inset 0 0 0 2px rgba(244,164,96,0.6),
    inset 0px 0px 0px 2.3px peru,
    inset 1px 1px 1px 2.5px  	rgb(210,180,140,0.6);

}

/* ********* */
/* sunset1 */
/* ********* */
.sunset1{
    width:calc(25 * var(--unit));
    height:calc(40 * var(--unit));
    /* background-color: blanchedalmond; */
    background:
    /* sun */
    radial-gradient(20% 12% at 50% 30%,lightpink 50%,transparent 50%),
    /* waves */
    linear-gradient(
     transparent 55%, 	rgba(45, 159, 194, 0.5) 55%, 	rgba(45, 159, 194, 0.5) 57%,	
     rgb(12, 113, 131) 57%,rgb(12, 113, 131) 60%,
     rgba(45, 159, 194, 0.5) 60%,rgba(45, 159, 194, 0.5) 62%,
    transparent 62%,transparent 70%,
     rgb(12, 113, 131) 70%,rgb(12, 113, 131) 75%,
     rgba(45, 159, 194, 0.5) 75%,rgba(45, 159, 194, 0.5) 80%,
     rgb(12, 113, 131) 80%,rgb(12, 113, 131) 82%,
     rgba(45, 159, 194, 0.4) 82%,rgba(45, 159, 194, 0.4) 86%,
     rgb(12, 113, 131) 86%,rgb(12, 113, 131) 88%,
     transparent 88%
    ),
    /* sky */
    linear-gradient(blanchedalmond 50%,transparent 50%),

    /* sun ray- white vertical */
    linear-gradient( 90deg,transparent 47%,rgba(255,255,255,0.7) 48%,rgba(255,255,255,0.7) 53%,transparent 54%),
    linear-gradient(white 50%,transparent 50%),

    /* sea */
    linear-gradient(transparent 50%,pink 50%),
    blanchedalmond
    ;
    

    box-shadow: 
    inset 0 0 0px 0.3px lightsteelblue,
     inset 0 0 0px 1px gainsboro,
     inset 1px 0px 1px 1px rgba(105,105,105,0.4),
     1px 1px 2px 0.5px rgb(119,136,153,0.5)
    ;
}

/* ********* */
/* sun1*/
/* ********* */
.sun1{
    width:calc(40 * var(--unit));
    height:calc(50 * var(--unit));
    background-color: goldenrod;
    background: 
    radial-gradient( circle , transparent 50%, lavenderblush 50%),

    linear-gradient(transparent 50%,
        white 50%,white 52%,
        transparent 52%, transparent 56%,
        white 56%, white 58%,
        transparent 58%,transparent 64%,
        white 64%,white 69%,
        transparent 69%,transparent 72%,
        white 72%,white 74%,
        transparent 74%
     ),

     linear-gradient(90deg, #FEE140 0%, #FA709A 100%) 0 0/100% 50% no-repeat,
     

     linear-gradient( 65.4deg,  rgba(56,248,249,1) -9.1%, rgba(213,141,240,1) 48%, rgba(249,56,152,1) 111.1% ); 
    ;
    box-shadow: 0 0 0 2px black,
    inset 0 0 0 4px white,
    1px 1px 1px 2px silver;
}


/* position each frame */
.peachy{
   align-self: flex-end; 
}
.flower{
   justify-self: flex-end;
}
.rainbow{
   justify-self: flex-start;
}
.geometric{
   justify-self: flex-end;
   align-self: flex-end;
}
.sunset1{
   justify-self: flex-end;
   align-self: flex-end;
}
.tile{
   align-self: center;
   justify-self: flex-start;
}
.circle2{
   justify-self: flex-end;
}
.circle1{
   justify-self: flex-start;
}
@media screen and (min-width:768px){
 .box{
     grid-template-columns:repeat(2,minmax(150px,1fr));
     justify-items: center;
     /* align-items: center; */
 }
 .container:nth-child(odd){
     justify-self: flex-end;
 }
 .container:nth-child(even){
    justify-self: flex-start;   
 }
}
@media screen and (min-width:992px){
    .box{
        grid-template-columns:repeat(3,minmax(150px,1fr));
        /* justify-items: center; */
        /* align-items: center; */
    }
    .box > .container {
        justify-self: center;
        align-self:center;
    }
    /* .container:nth-child(odd){
        justify-self: flex-end;
    }
    .container:nth-child(even){
       justify-self: flex-start;   
    } */
   }